/* .nav-bar {
  width: 100%;
  background-color: #ececec;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  color: black;
  text-decoration: none;
} */

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 375px;
  margin: 0 auto;
}

.main_introduction {
  background: #579aca;
  padding: 0 25px;
}

.main_introduction_title {
  padding-top: 145px;
}
.main_introduction_title h2 {
  font-size: 34px;
  font-weight: 800;
  color: #fff;
}

.main_introduction_title span {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

.main_searchBar input {
  width: 324px;
  height: 48px;
  font-size: 15px;
  border-radius: 16px;
  border: none;
  outline: none;
  padding-left: 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.flex {
  display: flex;
}
.main_event {
  width: 324px;
  height: 142.26px;
  border-radius: 16px;

  background: #eaf9fe;
  padding: 28px;
  box-sizing: border-box;

  margin: 0 auto;
}

.main_event_flex {
  display: flex;
  flex-direction: column;
}

.main_event_text {
  width: 170px;
  height: 48px;
  font-size: 20px;
  color: #305f72;
  font-weight: 800;
  margin-bottom: 8px;
}
.main_event_login {
  width: 148px;
  height: 35px;
  border-radius: 16px;
  color: #fff;

  background: #579aca;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_event_picture {
}

.main_categories {
  padding: 0 25px;
}

.main_categories h2 {
  color: #305f72;
  margin: 18px 0;
  font-size: 18px;
}

.main_lessonCategory_svgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_lessonCategory_svgContainer svg {
  margin-right: 28px;
}

.main_lessonCategory {
  width: 324px;
  height: 89px;
  border-radius: 20px;
  display: flex;
  background: #fae4f4;
  padding: 28px;
  box-sizing: border-box;
  margin-bottom: 8px;
}

.flex_column {
  display: flex;
  flex-direction: column;
}
.justify_content_center {
  justify-content: center;
}

.main_lessonCategory_ItemName {
  margin: 0;
  color: #305f72;
  font-size: 14px;
  font-weight: 800;
}

.main_lessonCategory_tutorName {
  font-size: 14px;
}

.playButton {
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  margin-left: auto;
}
